/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './base/button';
@import './base/container';
@import './base/reset';
@import './base/visually-hidden';
@import './utils/variables';

@import './components/gallery';
@import './components/footer';
@import './components/header';

