{{!-- <div class="film-modal">
  <button type="button" class="film-modal-close">X</button>
    <div class="film-modal-wrapper">
        <img src="" alt="" />
        <h2 class="film-modal-header"></h2>
            <ul class="film-modal-info">
                <li class="film-modal-item">
                    <p>Vote / Votes</p>
                    <p>
                    <span></span>
                    /
                    </p>
                </li>
                <li class="film-modal-item">
                    <p>Popularity</p>
                    <p></p>
                </li>
                <li class="film-modal-item">
                    <p>Original Title</p>
                    <p></p>
                </li>
                <li class="film-modal-item">
                    <p>Genre</p>
                    <p></p>
                </li>
            </ul>
            <h3>ABOUT</h3>
            <p></p>
        <div class="film-modal-btns">
            <button type="button">add to Watched</button>
            <button type="button">add to queue</button>
        </div>
    </div>
  </div> --}}