%animation {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

$primary-font: 'Roboto', sans-serif;

:root {
  --primary-text-color: #000000;
  --title-text-color: #FF6B08;
  --secondary-title-color: #ffffff;
  --footer-text-color: #545454;
  --background-footer: #f7f7f7;
  --background-body: #ffffff;
  --modal-text-color: #8C8C8C;
  --secondary-bg-color: #FF6B08;
}