%animation {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

$primary-font: 'Roboto', sans-serif;

:root {
  --primary-text-color: #000000;
  --title-text-color: #ff6b08;
  --secondary-title-color: #ffffff;
  --footer-text-color: #545454;
  --background-footer: #f7f7f7;
  --background-body: #ffffff;
  --modal-text-color: #8c8c8c;
  --secondary-bg-color: #ff6b08;
  --base-stroke-color: #818181;
  --hover-navigation-btn: #a9a9a9;
}
