<button type="button" class="button main__button" data-modal-team-open>Наша команда</button>
    <div class="backdrop is-hidden" data-modal-team>
      <div class="modal">      
          <button class="modal__button" data-modal-team-close>
              <svg class="modal__icon" >
                  <!-- <use href="./images/icons.svg#icon-close-black"></use> -->
              </svg>
          </button>
          <h1>Наша команда</h1>   
          <div class="team-container"></div>
      </div>    
  </div>
  <img src="../images/photo-team/photo-4vh.jpg"

