<div class="container pagination">
    <button type="button" class="pagination-button arrow-left">
        <svg class="pagination__icon">
            <use href="images/sprite.svg#icon-arrow-left"></use>
        </svg>
    </button>
    <ul class="pagination__list">        
    </ul>
    <span class="pagination-dots js-after-dots">...</span>
    <button class="pagination-button last-button"></button>
    <button type="button" class="pagination-button arrow-right">
        <svg class="pagination__icon">
            <use href="images/sprite.svg#icon-arrow-right"></use>
        </svg>
    </button>
</div>