<div>
  <button id="filter-lang" class="search-form-btn">
    Filter
    <svg class="icon icon-equalizer">
      <use xlink:href="./images/sprite.svg#icon-equalizer"></use>
    </svg>
  </button>

  <div class="search-form__wrap">
    <form class="genre-search" action="#" id="search-form">
      <label id="genr-lang" for="lang" class="search-label">Genres</label>
      <select name="genres" id="genres">
        <legend></legend>
        <option id="all-genres-lang" value="genres">all genres</option>
      </select>

      <label id="year-lang" for="lang" class="search-label">Year</label>
      <select name="genres" id="years">
        <legend></legend>
        <option class="first-opt" id="year-chose" value="year">year</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
      </select>

      <label for="lang" class="search-label">
        <span id="popularity-lang">Popularity</span>
      </label>
      <select name="genres" id="popularity">
        <legend></legend>
        <option id="p-lang" value="option">popularity</option>
        <option id="most-popular-lang" value="popularity">most popular first</option>
        <option id="users-choise-lang" value="vote_count">users choise first</option>
      </select>
    </form>
  </div>
</div>
