<div class="search-filter-form container">
<button class="search-btn search-btn--open">
    <svg class="icon-droplet" width="14" height="14">
        <use href="./images/svg/search-form.svg#icon-filter"></use>
    </svg>
  </button>

  <div class="search-form__wrap container">
    <button class="search-btn search-btn--close">
      <svg class="icon-droplet" width="14" height="14">
        <use href="./images/svg/search-form.svg#icon-cross"></use>
      </svg>
    </button>
    <form class="genre-search" action="#" id="search-form">
      <div id="genr-lang" for="lang" class="search-form_div-lang">Genres</div>
      <select name="genres" id="genres">
        <option id="all-genres-lang" value="genres">all genres</option>
      </select>

      <div id="year-lang" for="lang" class="search-form_div-lang">Year</div>
      <select name="years" id="years">
        <option id="year-chose" value="year">year</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
      </select>
<!-- 
      <div for="lang" class="search-form_div-lang">
        <span id="popularity-lang">Popularity</span>
      </div>
      <select name="popularity" id="popularity">
        <option id="p-lang" value="option">popularity</option>
        <option id="most-popular-lang" value="popularity">most popular first</option>
        <option id="users-choise-lang" value="vote_count">users choise first</option>
      </select> -->
    </form>
  </div>
</div>
