<div class="search-form__wrap">
    <form class="genre-search" action="#">
        <label for="lang" class="search-label">Genres</label>
        <select name="genres" id="genres">
        <legend></legend>
            <option value="genres">genres</option>
        </select>

        <label for="lang" class="search-label">Year</label>
        <select name="genres" id="years">
            <legend></legend>
            <option class="first-opt" value="year">year</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>

        </select>

        <label for="lang" class="search-label">Popularity</label>
        <select name="genres" id="popularity">
            <legend></legend>
            <option value="option">popularity</option>
            <option value="popularity">most popular first</option>
            <option value="vote_count">users choise first</option>
        </select>
    </form>
</div>