.cards-collection {
    padding-top: 20px;
    padding-bottom: 40px;
    @media screen and (min-width:768px) {
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -32px;
        margin-bottom: -32px;
    }
        @media screen and (min-width:1024px) {
            margin-left: -16px;
        }
}

.cards-collection-item {
    cursor: pointer;
    transform: scale(1);
    transition: transform 250ms linear;
    @media screen and (max-width:767px) {
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }
    @media screen and (min-width:768px) {
        margin-bottom: 32px;
        margin-left: 32px;
        flex-basis: calc((100% - 2 * 32px) / 2);
    }
    @media screen and (min-width:1024px) {
        margin-left: 16px;
        flex-basis: calc((100% - 3 * 16px) / 3);
    }
}