
.modal-form {
	width: 350px;
	height: 500px;
   
	overflow: hidden;
	background: linear-gradient(0deg, rgba(253,240,45,1) 21%, rgba(255,107,8,1) 90%)  no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk {
	display: none;
}
.signup {
	position: relative;
	width:100%;
	height: 100%;
}
.label-form {
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.input-form {
	width: 60%;
	height: 20px;
	background: #fff;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.button-form {
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #ff6b08;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.button-form:hover {
	background: #be3f1c;
}
.login {
	height: 460px;
	background: #cecdcd;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label {
	color: #000000;
	transform: scale(.6);
}

#chk:checked ~ .login {
	transform: translateY(-500px);
}
#chk:checked ~ .login label {
	transform: scale(1);	
}
#chk:checked ~ .signup label {
	transform: scale(.6);
}
