:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 200ms;
}

.team-container {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
  grid-auto-rows: minmax(164px, auto);
  grid-gap: 12px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.team__item {
  border-radius: 10px;
  
  position: relative;
  cursor: pointer;
  padding: 10px;
  perspective: 600px;
  text-align: center;
  background-color:   rgba(245, 124, 50, 0.12);
}

.team__item:hover {
  transform: scale(1.05);
  
  box-shadow: 1px 1px 5px 1px #ff6600, 1px 1px 5px 1px #ff6b08, 3px 3px 7px 7px rgba(255,107,8,0.11);
}

.team__image {
  position: relative;
  z-index: 3;
  min-width: 0;
  height: 156px;
  width: 156px;
  border-radius: 50%;
  object-fit: cover;
  margin: 5px auto;
  transition: 1500ms var(--timing-function);
  overflow: hidden;
}
.team__image:hover {
  transform: scale(0.5) translate(-50px, -50px);
  transition: transform 1000ms var(--timing-function);
}


.team-meta {
 
  z-index: 1;
  position: absolute;
  top: 100px;
  right: 25px;
  font-weight: 700;
}

.team-meta p {
  margin-top: 0;
  margin-bottom: 0;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 1s;
  backface-visibility: hidden;
  border-radius: 10px;
}

.front {
  background: #ffffff;  
}

.back {
  padding: 20px;
  background-color: #f5f3f3;
  transform: rotateY(180deg);
}

.clicked .front {transform: rotateY(360deg);}
.clicked .back {transform: rotateY(360deg);}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}
    
.modal {
  position: relative;
  padding: 40px;
  background-color:#07131b7d;
  box-shadow: 5px 5px 15px 5px #ff6b08, 5px 5px 50px 7px rgba(255,107,8,0.11);
  border-radius: 4px;
  transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-widht: 768px) {
      position: absolute;
      width: 760px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.1);
  }

  @media screen and (min-width: 1200px) { 
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.1);
  }
}

 .modal__icon {
  padding: 0;
  width: 18px;
  height: 18px;
  fill: #ff6b08;
}

.modal__icon:hover {
  transform: scale(1.3);
}

.modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
 
  background-color: #07131bda;
  transition: scale 550ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.backdrop {
  padding: 20px;
  overflow-y: scroll;

  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #07131bad;
  position: fixed;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
}

body.modal-open {
  overflow: hidden;
}

.team__item-title {
  font-size: 12px;
  text-transform: uppercase;
  color: #ff6b08;
  line-height: 1.14;
  font-weight: 500;
  margin-bottom: 8px;
  
}

.team__item-text {
  font-size: 12px;
  color: #212121;
  font-weight: 400;
  line-height: 1.14;
  margin-bottom: 10px;
}
