.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    @media screen and (min-width: 320px) and (max-width: 767px) {
        padding: 40px 0;
    }
    @media screen and (min-width: 768px) {
        padding: 50px 0 60px;;
    }
} 

.pagination-button {
    margin: 0 2px;
    padding: 8px;
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.333;
}

.arrow-left, .arrow-right {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #f7f7f7;
    background-position: 50%;
    background-repeat: no-repeat;
}

.dots, .first-button, .last-button {
    @media screen and (max-width: 767px) {
    display: none;
    }
}

.dots {
    margin-right: 16px;
    margin-left: 16px;
    color: #000;
}

.pagination--current {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #ff6b08;
    color: #fff;
}


