.scrolltop {
    position: fixed;
    bottom: -150px;
    right: 10px;
    transition: 0.6s all;
}

.scrolltop.showed {
    bottom: 20px;
    transition: 0.6s all;
}

.scrolltop-ico {
    width: 40px;
    height: 40px;
    opacity: 0.5;
    cursor: pointer;
    @extend %animation;

    &:hover {
        fill: var(--secondary-bg-color);
        opacity: 1;
        transition: 0.3s hover;
    }
}