.dark{
  background:radial-gradient(ellipse at bottom, #7b7f8a 40%, #000000 100%);
  @extend %animation;
  --primary-text-color: #f8f1f1;
  --title-text-color: #FF6B08;
  --secondary-title-color: #ffffff;
  --footer-text-color: #545454;
  --background-footer: #f7f7f7;
  --background-body: #ffffff;
  color: #f7f7f7;
}
.theme-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
  transition: 0.3s;
  @extend %animation;
  img{
    width: 32px;
  }
}