.dark {
  background-color: rgb(80, 75, 68);
  // background:radial-gradient(ellipse at bottom, #7b7f8a 10%, #000000 100%);
  --primary-text-color: #696666;
  --title-text-color: #ff6b08;
  --secondary-title-color: #2c0b0b;
  --footer-text-color: #8b887f;
  --background-footer: #252525;
  --background-body: #79716a;
    --modal-text-color: #f5e9c2;
  color: #f7f7f7;
  transition: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  transition: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.theme-btn {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.4s;
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
  transition: 0.3s;
  &:hover {
    transform: rotate(-20deg) scale(1.25);
    -webkit-transform: rotate(-20deg) scale(1.15);
  }
  @media screen and (max-width: 320px) {
    font-size: 20px;
    top: 160px;
    right: 5%;
  }
  @media screen and (min-width: 320px) {
    font-size: 20px;
    top: 155px;
    right: 5%;
  }
  @media screen and (min-width: 768px) {
    font-size: 30px;
    top: 150px;
    right: 5%;
  }
  @media screen and (min-width: 1024px) {
    top: 150px;
    right: 5%;
  }
  @media screen and (min-width: 1440px) {
    top: 150px;
    right: 18%;
  }
  @media screen and (min-width: 2560px) {
    top: 150px;
    right: 32%;
  }
}

.selected-lenguage {
 
  cursor: pointer;
  background-color: transparent;
  color: currentColor;
  font-size: 16px;
  outline-style: none;
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
   position: absolute;
    color: #f0b58f;
   @media screen and (max-width: 320px) {
    top: 165px;
    right: 20%;
  }
  @media screen and (min-width: 320px) {
    top: 165px;
    right: 15%;
  }
  @media screen and (min-width: 768px) {
    top: 165px;
    right: 12%;
  }
  @media screen and (min-width: 1024px) {
    top: 165px;
    right: 10%;
  }
  @media screen and (min-width: 1440px) {
    top: 165px;
    right: 22%;
  }
  @media screen and (min-width: 2560px) {
    top: 165px;
    right: 35%;
  }
    transition: 700ms;
  transition-timing-function: cubic-bezier(0.9, 0, 0.2, 1);

}
